<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Management_Project_Pharmacy.Properties.Settings.Database_Pharmacy" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database_Pharmacy.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
        <add name="Management_Project_Pharmacy.Properties.Settings.PharmacyConnectionString" connectionString="Data Source=.;Initial Catalog=Pharmacy;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        
      <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
